<div class="row">
  <div class="col-xs-12">
    <form #shoppingEditForm="ngForm" (ngSubmit)="onSubmit(shoppingEditForm)">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input name="name" ngModel type="text" id="name" class="form-control" required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input name="amount" ngModel type="number" id="amount" class="form-control" pattern="^[1-9]+[0-9]*$" required>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button [disabled]="shoppingEditForm.invalid" class="btn btn-success" type="submit">{{ editMode ? 'Update' : 'Add' }}</button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
